.bgcolor {
  background-color: white;
}
.main-back {
  background-color: #75c31e;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}
.main-bg {
  width: 613px;
  height: 650px;
  border-radius: 30px;
  backdrop-filter: blur(15px) saturate(140%);
  -webkit-backdrop-filter: blur(15px) saturate(140%);
  background-color: rgba(191, 241, 138, 0.74);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.ima1 {
  margin-top: 20px;
  margin-left: 30px;
}
.ima {
  border-radius: 14px;
  margin-top: 20px;
  margin-left: 30px;
}
.login-right {
  z-index: 1;
  /*  */
  text-align: center;
}
.form-background {
  position: absolute;
  left: 53.3%;
  z-index: 0;
  width: 623px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 0px 30px 30px 0px;
}
.side-image {
  background-image: url(Componentss/images/sidepng.png);
  position: absolute;
  left: 10%;
  background-repeat: no-repeat;
}
.form-input input {
  border: none;
  border-bottom: 1px solid gray;
  width: 70%;
}
.login-right p {
  color: #75c31e;
}
.btn1 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffff;
  font-size: 20px;
  background: #75c31e;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  border: none;
}

.btn1:hover {
  background: #71ad2b;
  text-decoration: none;
}
.core p {
  font-size: 14px;
}
.core h3 {
  font-size: 25px;
  color: white;
  margin-left: 20%;
}
.grid-left-com {
  text-align: center;
  background-color: #c0f18a;
  height: 100vh;
}
.box {
  display: grid;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: #e0e0e0;
  height: 300px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.history {
  background-color: white;
  height: 70px;
  padding: 20px;
  box-shadow: 10px 10px 30px #bebebe;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
  .form-background {
    display: none;
  }
  .ima {
    border-radius: 14px;
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .ima1 {
    margin-top: 20px;
    margin-left: 65px;
  }
  .main-bg {
    background-color: rgba(192, 241, 138, 0.6);
    width: 613px;
    height: 850px !important;
    border-radius: 30px;
  }
  .main-back {
    background-color: #75c31e;
    height: 140vh !important;
    padding-top: 30px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 768px) {
  .form-background {
    display: none;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    /* width: 33.33333333%; */
  }
  .ima {
    border-radius: 14px;
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .ima1 {
    margin-top: 20px;
    margin-left: 65px;
  }
  .main-bg {
    background-color: rgba(192, 241, 138, 0.6);
    width: 613px;
    height: 850px !important;
    border-radius: 30px;
  }
  .main-back {
    background-color: #75c31e;
    height: 200vh;
    padding-top: 30px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 992px) {
  .form-background {
    display: none;
  }
  .ima {
    border-radius: 14px;
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .ima1 {
    margin-top: 20px;
    margin-left: 65px;
  }
  .main-bg {
    background-color: rgba(192, 241, 138, 0.6);
    width: 613px;
    border-radius: 30px;
  }
  .main-back {
    background-color: #75c31e;
    height: 100vh;
    padding-top: 30px;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media only screen and (max-width: 1400px) {
  .form-background {
    position: absolute;
    left: 55%;
    z-index: 0;
    width: 423px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 0px 30px 30px 0px;
  }
  .ima {
    border-radius: 14px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .ima1 {
    margin-top: 20px;
    margin-left: 65px;
  }
  .main-bg {
    background-color: rgba(192, 241, 138, 0.6);
    width: 613px;
    height: 600px;
    border-radius: 30px;
  }
  .main-back {
    background-color: #75c31e;
    height: 100vh;
    padding-top: 30px;
  }
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
